body{
    margin: 4em 0;
}
.logo{
    width: 30%;
}
.flair-container{
    margin-top: 20px;
}
.flair-container > div{
    padding: 10px;
    /*height: 180px;*/
    /*display: flex;*/
    align-items: center;
    margin-bottom: 75px;
}
.flair-wrap > div, .text-wrap > div{
    margin-left: auto;
    margin-right: auto;
}
.text-wrap > textarea{
    text-align: center;
    width: 60%;
    height: 180px;
}
.author{
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.avatar .border{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-width: 3px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-color: hsl(265, 90%, 50%);
    animation: rainbow 5s infinite alternate, spin 10s linear infinite;
    border-radius: 50%;
}
@keyframes rainbow {
    0% {border-color: hsl(265, 90%, 50%);}
    100% {border-color: hsl(360, 90%, 50%);}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 550px) {
    .text-wrap > textarea{
        width: 290px;
    }
}

@media screen and (max-width: 767px) {
    #user-input > div{
        margin-bottom: 10px;
        text-align: center;
    }

    .flair-container .text-wrap {
        text-align: center;
        margin: 10px auto 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-wrap > textarea{
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-wrap > textarea{
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .author{
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: #ffffff;
        padding: 10px 20px;
        width: 100%;
        text-align: right;
        border-top: 1px solid #eee;
    }
}