body{
    margin: 4em 0;
}
.logo{
    width: 30%;
}

.flair{
    box-sizing: border-box;
    line-height: normal;
    width: 290px;
    height: 95px;
    position: relative;
    border: 2px solid #d1d5da;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    align-items: center;
    color: #555;
}

.avatar{
    text-align: center;
    width: 75px;
    height: 75px;
    margin-left: 5px;
}

.avatar img{
    width: 100%;
    height: 100%;
    /*border: 1px solid #d1d5da;*/
    border-radius: 50%;
}

.info{
    width: 160px;
    font-size: 14px;
    text-align: right;
}

.info .name{
    font-size: 16px;
    font-weight: bold;
}